@page
@model admin.Pages.BatchModel
@{
	ViewData["Title"] = "Batches";
}

<div class="row">
	<form method="post" class="col-lg-6 p-5 mb-5 border rounded-3 bg-light">
		<h2 class="text-muted mb-3">Batch configuration</h2>
		<div class="form-group mb-3">
			<label asp-for="BatchConfig.periodInDays" class="form-label"></label>
			<input asp-for="BatchConfig.periodInDays" class="form-control" required />
			<span asp-validation-for="BatchConfig.periodInDays" class="text-danger"></span>
		</div>

		<div class="form-group mb-3">
			<label asp-for="BatchConfig.batchCountPerDay" class="form-label"></label>
			<input asp-for="BatchConfig.batchCountPerDay" class="form-control" required />
			<span asp-validation-for="BatchConfig.batchCountPerDay" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Create Batches</button>
	</form>

	<div hidden>
		@Html.ValidationSummary()
	</div>
</div>
