@page "{id}"
@model admin.Pages.ValidateModel
@{
	ViewData["Title"] = $"Edit {Model.ValidLocation.city} Location";
}

<div class="row">
	<form method="get" class="col-lg-6 p-5 mb-5 mb-lg-0">
		<h2 class="text-muted mb-3">Location</h2>
		<div class="form-group mb-3">
			<label asp-for="Location.city" class="form-label"></label>
			<div class="input-group">
				<input asp-for="Location.city" class="form-control" disabled readonly />
				<a class="btn btn-outline-secondary"
					href="https://www.google.com/maps/place/@Model.Location.zipCode?.Trim()+@Model.Location.city.Trim(),+@Model.Location.country.Trim()/"
					target="_blank" rel="noopener noreferrer">Search</a>
			</div>
			<span asp-validation-for="Location.city" class="text-danger"></span>
		</div>
		<div class="row gx-3">
			<div class="form-group col-md-6 mb-3">
				<label asp-for="Location.zipCode" class="form-label"></label>
				<input asp-for="Location.zipCode" class="form-control" disabled readonly />
				<span asp-validation-for="Location.zipCode" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="Location.country" class="form-label"></label>
				<input asp-for="Location.country" class="form-control" disabled readonly />
				<span asp-validation-for="Location.country" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Location.coordinates" class="form-label"></label>
			<input asp-for="Location.coordinates" class="form-control" disabled readonly />
			<span asp-validation-for="Location.coordinates" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="Location.users" class="form-label"></label>
			<input asp-for="Location.users" class="form-control" disabled readonly />
			<span asp-validation-for="Location.users" class="text-danger"></span>
		</div>
		<div class="row gx-3">
			<div class="form-group col-md-6 mb-3">
				<label asp-for="Location.channel" class="form-label"></label>
				<input asp-for="Location.channel" class="form-control" disabled readonly />
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="Location.lang" class="form-label"></label>
				<input asp-for="Location.lang" class="form-control" disabled readonly />
				<span asp-validation-for="Location.lang" class="text-danger"></span>
			</div>
		</div>

		<button type="submit" class="btn btn-outline-secondary ">Reset</button>
	</form>

	<form method="post" class="col-lg-6 p-5 mb-5 border rounded-3 bg-light">
		<h2 class="text-muted mb-3">Valid location</h2>

		<div class="form-group mb-3">
			<label asp-for="ValidLocation.city" class="form-label"></label>
			<div class="input-group">
				<input asp-for="ValidLocation.city" class="form-control" id="valid-location-city" required />
				@if (Model.ValidLocationExists == null)
				{
					<a class="btn btn-outline-success d-flex align-items-center fs-6"
						id="valid-location-verification-result" href="#" disabled>new</a>
				}
				else
				{
					<a class="btn btn-outline-danger d-flex align-items-center fs-6" id="valid-location-verification-result"
						asp-page="./Edit" asp-route-id="@Model.ValidLocationExists">exists</a>
				}
			</div>
			<span asp-validation-for="ValidLocation.city" class="text-danger"></span>
		</div>
		<div class="row gx-3">
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.zipCode" class="form-label"></label>
				<input asp-for="ValidLocation.zipCode" class="form-control" />
				<span asp-validation-for="ValidLocation.zipCode" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.country" class="form-label"></label>
				<input asp-for="ValidLocation.country" class="form-control" list="country-names" id="valid-location-country"
					required />
				<span asp-validation-for="ValidLocation.country" class="text-danger"></span>

				<datalist id="country-names">
					@foreach (var country in Model.CountryList)
					{
						<option value="@country"></option>
					}
				</datalist>
			</div>
		</div>
		<div class="form-group mb-3">
			<label asp-for="ValidLocation.coordinates" class="form-label"></label>
			<input asp-for="ValidLocation.coordinates" class="form-control" id="valid-location-coordinates" required />
			<span asp-validation-for="ValidLocation.coordinates" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="ValidLocation.users" class="form-label"></label>
			<input asp-for="ValidLocation.users" class="form-control" required />
			<span asp-validation-for="ValidLocation.users" class="text-danger"></span>
		</div>
		<div class="row gx-3">
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.channel" class="form-label"></label>
				<select asp-for="ValidLocation.channel" asp-items="Model.ChannelOptions" class="form-select"></select>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.lang" class="form-label"></label>
				<input asp-for="ValidLocation.lang" class="form-control" />
				<span asp-validation-for="ValidLocation.lang" class="text-danger"></span>
			</div>
		</div>
		<div class="row gx-3">
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.timezone" class="form-label"></label>
				<div class="input-group">
					<input asp-for="ValidLocation.timezone" class="form-control" id="valid-location-timezone" />
					<a class="btn btn-outline-secondary"
						href="https://whattime.is/"
						target="_blank" rel="noopener noreferrer">Search</a>
				</div>
				<span asp-validation-for="ValidLocation.timezone" class="text-danger"></span>
			</div>
			<div class="form-group col-md-6 mb-3">
				<label asp-for="ValidLocation.offset" class="form-label"></label>
				<input asp-for="ValidLocation.offset" class="form-control" id="valid-location-offset" placeholder="+02:00" />
				<span asp-validation-for="ValidLocation.offset" class="text-danger"></span>
			</div>
		</div>

		<input asp-for="ValidLocation.Id" />
		<span asp-validation-for="ValidLocation.Id" class="text-danger"></span>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<div hidden>
		@Html.ValidationSummary()
	</div>
</div>

<div class="row">
	<form method="post" class="p-5 my-5 border rounded-3 border-danger bg-danger-subtle">
		<h2 class="text-danger mb-3">Danger zone</h2>

		<details>
			<summary>Sensitive actions:</summary>
			<input asp-for="ValidLocation.Id" />
			<button type="submit" class="btn btn-danger mt-3" asp-page-handler="Discard">Discard</button>
		</details>
	</form>
</div>

<script>
	var cityInput = document.getElementById('valid-location-city');
	var countryInput = document.getElementById('valid-location-country');
	var verificationResult = document.getElementById('valid-location-verification-result');
	var cityCoordinates = document.getElementById('valid-location-coordinates');
	var timezoneInput = document.getElementById('valid-location-timezone');
	var offsetInput = document.getElementById('valid-location-offset');

	cityInput.addEventListener('change', onChangeCity);
	countryInput.addEventListener('change', onChangeCity);

	function onChangeCity() {
		verificationResult.classList.remove('btn-outline-danger');
		verificationResult.classList.remove('btn-outline-success');
		verificationResult.innerHTML = '<span class="spinner-border spinner-border-sm">&nbsp;</span>';
		verificationResult.href = 'javascript:void(0)';
		getLocation(cityInput.value, countryInput.value)
			.then(
				notifyDuplicatedEntity,
				notifyUniqueEntity
			);
	}

	function notifyDuplicatedEntity(id) {
		verificationResult.classList.remove('btn-outline-success');
		verificationResult.classList.add('btn-outline-danger');
		verificationResult.innerHTML = '<span>exists</span>';
		verificationResult.href = '../Edit/' + id;
	}

	function notifyUniqueEntity() {
		verificationResult.classList.remove('btn-outline-danger');
		verificationResult.classList.add('btn-outline-success');
		verificationResult.innerHTML = '<span>new</span>';
	}

	async function getLocation(city, country) {
		var apiUrl = `/api/location?city=${city}&country=${country}`;
		var response = await fetch(apiUrl);
		var json = await response.json();
		if (!response.ok) {
			throw new Error(response.status);
		}
		if (!json.id) {
			throw new Error(JSON.stringify(json));
		}
		return json.id;
	}

	cityInput.addEventListener('click', pasteFromClipboard);
	cityCoordinates.addEventListener('click', pasteFromClipboard);
	timezoneInput.addEventListener('click', pasteFromClipboard);
	offsetInput.addEventListener('click', pasteFromClipboard);

	function pasteFromClipboard(event) {
		if (!navigator.clipboard.readText) {
			return;
		}

		navigator.clipboard.readText().then(text => {
			// valRegexPattern is set by the RegularExpression attribute in the model
			if (!event.target.dataset.valRegexPattern || new RegExp(event.target.dataset.valRegexPattern).exec(text)) {
				event.target.value = text
				event.target.dispatchEvent(new Event("change"));
			}
		});
	}
</script>
