<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Frosto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha256-2FMn2Zx6PuH5tdBQDRNwrOo60ts5wWPC9R8jK67b3t4=" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/admin.styles.css" asp-append-version="true" />
	@RenderSection("Head", false)
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">Frosto</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-page="/Index">Sign-ups</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-page="/Batch">Batches</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-muted dropdown-toggle" href="#" id="subscriptionsDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Subscriptions
							</a>
							<ul class="dropdown-menu p-2 text-nowrap" aria-labelledby="subscriptionsDropdown">
								<li class="nav-item">
									<a class="nav-link asp-area="" asp-page="/Unsubscribe">Unsubscribe e-mail</a>
								</li>
								<li class="nav-item">
									<a class="nav-link asp-area="" asp-page="/CheckSubscription">Check
										Subscriptions</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-muted dropdown-toggle" href="#" id="locationsDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Locations
							</a>
							<ul class="dropdown-menu p-2" aria-labelledby="locationsDropdown">
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-page="/Cities">Cities</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-page="/Map">Map</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - Yvan Razafindramanana
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
		integrity="sha256-ew8UiV1pJH/YjpOEBInP1HxVvT/SfrCmwSoUzF9JIgc="
		crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
