DirectoryIndex index.html

Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "deny"
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set Referrer-Policy "origin-when-cross-origin"

<FilesMatch "\.html$">
	Header set Content-Security-Policy "default-src 'self'; connect-src 'self' https://alertegeleeapi.azurewebsites.net; form-action 'self' 'https://alertegeleeapi.azurewebsites.net'; img-src 'self'; style-src 'self' 'unsafe-inline'; object-src 'none'; frame-ancestors 'none'; upgrade-insecure-requests; block-all-mixed-content"
	Header set Cache-Control "no-cache"
</FilesMatch>

<FilesMatch "\.(css|js|svg|webp|png|ico|woff2)$">
	Header set Cache-Control "max-age=31536000, immutable"
</FilesMatch>

AddType text/html;charset=utf-8 .html
AddType text/css;charset=utf-8 .css
AddType application/javascript;charset=utf-8 .js
AddType application/manifest+json;charset=utf-8 .webmanifest
AddType font/woff2 .woff2
