trigger:
  branches:
    include:
    - main
  paths:
    include:
    - admin

variables:
  - group: 'admin'
  - name: solution
    value: 'admin/*.csproj'
  - name: buildPlatform
    value: 'win-x86'
  - name: buildConfiguration
    value: 'Release'

pool:
  vmImage: ubuntu-latest

jobs:
- job: CI
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '10.0.x'
      installationPath: '$(Agent.ToolsDirectory)/dotnet'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: '$(solution)'
      arguments: '--configuration $(buildConfiguration) -r $(buildPlatform) --no-self-contained'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: '$(solution)'
      nobuild: true
      arguments: '--no-build --configuration $(buildConfiguration) -r $(buildPlatform) --no-self-contained'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'admin/bin/$(buildConfiguration)/net10.0/$(buildPlatform)/publish.zip'
      publishLocation: 'pipeline'
      artifact: 'admin'

- deployment: CD
  dependsOn: CI
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  environment: 'Azure'
  strategy:
    runOnce:
      deploy:
        steps:
        - task: ExtractFiles@1
          inputs:
            archiveFilePatterns: '$(Pipeline.Workspace)/admin/*.zip'
            destinationFolder: '$(Pipeline.Workspace)/wip'
            cleanDestinationFolder: true
            overwriteExistingFiles: true
        - task: DownloadSecureFile@1
          name: dkimCertificate
          displayName: 'Download DKIM certificate'
          inputs:
            secureFile: 'dkim_public.pem'
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              echo Installing $(dkimCertificate.secureFilePath) to build directory
              rm $(Pipeline.Workspace)/wip/dkim_public.pem
              cp $(dkimCertificate.secureFilePath) $(Pipeline.Workspace)/wip/dkim_public.pem
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: '$(Pipeline.Workspace)/wip'
            includeRootFolder: false
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        - task: AzureRmWebAppDeployment@4
          inputs:
            ConnectionType: 'AzureRM'
            azureSubscription: '$(azureSubscription)'
            appType: 'webApp'
            WebAppName: '$(webAppName)'
            packageForLinux: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
