<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # QSA : query string append https://httpd.apache.org/docs/current/en/rewrite/flags.html
    RewriteRule (.*) index.html [QSA,L]
</ifModule>
